[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tk = "*"
h5py = "*"
scipy = "*"
pillow = "*"
requests = "*"
urllib3 = "<2"
scikit-image = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
